.top-bar {
    margin: auto;
    background-color: pink;
    padding: 12px;
    justify-content: center;
    display: flex;
}
.items {
    text-align: center;
}

.options {
    display: flex;
    gap: 50px;
}