<p>dessert works!</p>
<!-- TO DO: create slug/id -->
 <!-- how do you store a slug without backend obj? json file? research.. -->
<!-- top bar widget w/ search bar? -->
<!-- TODO: add images to the ../img folder --> 
<!-- TODO: add the rest of the dessert images -->
 <!-- look into the implementation of widgets
  Excute pls... -->

  <div class="page-container">

      <h1>{{ recipe.name }}</h1>
      <!-- <div class="pub-date">Published on: {{ recipe.publish_date }}</div> -->
      <br />
      
  </div> 